body {
  font-family: 'Montserrat', sans-serif;
}

.snackbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  padding: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  max-width: 380px;
  justify-content: center;
  align-items: center;
}

.delay-label {
  text-align: left;
}

.delay-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.fieldset {
  margin-top: 16px;
  border-radius: 4px;
  stroke-width: 1px;
  width: 340px;
}

.legend {
  text-align: left;
}

.fulfield-input {
}

.rejected-input {
}
.submit-btn {
  margin-top: 24px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  background-color: #4e75ff;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
